body{
margin:0px;
padding:0px;
background-color:#025952;

}

#maindiv{
display:block;
margin: 50px auto;
border:3px solid black;
background-color:#FAE3BA;
width:30%;
padding:30px;
border-radius:10px;
box-shadow:3px 3px 5px black;
}
button{
display:block;
margin:10px auto;
border-radius:10px;
background-color:#F1523E;
box-shadow:3px 3px 5px black;

}

#

#result{
display:none;
}